{% extends 'HVGPublicBundle:Base:base.html.twig' %}

{% trans_default_domain 'HVGPublicBundle' %}

{% block title %}{{ 'unitinsurancepolicy.index.title'|trans }}{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row" id="page-header">
                <div class="col-sm-8 col-sm-offset-2">
                    <h1 class="page-header">{{ 'unitinsurancepolicy.index.title'|trans }}</h1>
                    {% include 'HVGPublicBundle:Base:flashbag.html.twig' %}
                    {% autoescape false %}{{ 'unitinsurancepolicy.finish.message'|trans }}{% endautoescape %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
