accesscontrol_accessmonitor_index:
    path:     /{hash}/{checkpoint}/{accessguard}/{unitgroup}/{unit}
    defaults: { _controller: "HVGAccessControlBundle:AccessMonitor:index", unitgroup: '', unit: '' }
    methods:  GET
    requirements:
        unitgroup: '\d+|'
        unit: '\d+|'

accesscontrol_accessmonitor_search:
    path:     /{hash}/{checkpoint}/{accessguard}/search
    defaults: { _controller: "HVGAccessControlBundle:AccessMonitor:search" }
    methods:  [GET, POST]

