{% block communitytabs %}
    {% trans_default_domain 'HVGAgentBundle' %}
    <div class="row" id="tabs">
        <div class="col-md-12">
            {% set tabsMenu = knp_menu_get('HVGAgentBundle:Builder:communityTabsMenu', [], {'community': community}) %}
            {{ knp_menu_render(tabsMenu, {'currentClass': 'active'}) }}
            <p></p>
        </div>
    </div>
    <!-- /#community-tab -->
{% endblock %}