vich_uploader:
    db_driver: orm # or mongodb or propel or phpcr
    default_filename_attribute_suffix:  _name
    storage: file_system
    twig: true
    metadata:
        cache: file
        file_cache:
            dir: '%kernel.cache_dir%/vich_uploader'
        auto_detection: true
    mappings:
        testing:
            uri_prefix: uploads/testing
            upload_destination: %kernel.root_dir%/../web/uploads/testing
            namer: vich_uploader.namer_origname
        proposal:
            uri_prefix: uploads/proposal
            upload_destination: %kernel.root_dir%/../web/uploads/proposal
            namer: vich_uploader.namer_origname
        petition_action_file:
            uri_prefix: uploads/petition_action_file
            upload_destination: %kernel.root_dir%/../web/uploads/petition_action_file
            namer: vich_uploader.namer_origname
        ticket_action_file:
            uri_prefix: uploads/ticket_action_file
            upload_destination: %kernel.root_dir%/../web/uploads/ticket_action_file
            namer: vich_uploader.namer_origname
        unit_insurancepolicy_file:
            uri_prefix: uploads/unit_insurancepolicy_file
            upload_destination: %kernel.root_dir%/../web/uploads/unit_insurancepolicy_file
            namer: vich_uploader.namer_origname
        community_logo:
            uri_prefix: uploads/community_logo
            upload_destination: %kernel.root_dir%/../web/uploads/community_logo
            namer: vich_uploader.namer_origname
        pet_photography_file:
            uri_prefix: uploads/pet_photography_file
            upload_destination: %kernel.root_dir%/../web/uploads/pet_photography_file
            namer: vich_uploader.namer_origname
        ticket_file:
            uri_prefix: uploads/ticket_file
            upload_destination: %kernel.root_dir%/../web/uploads/ticket_file
            namer: vich_uploader.namer_origname
