{% block aside %}
<div class="navbar-default sidebar" role="navigation">
    {% if community.logo %}
        <img class="img-responsive img-thumbnail center-block" src="{{ vich_uploader_asset(community, 'file', 'HVG\\SystemBundle\\Entity\\Community') | imagine_filter('logo_medium') }}" />
    {% endif %}
    <div class="sidebar-nav sidebar-collapse">
        {{ knp_menu_render('HVGAccessControlBundle:Builder:sideMenu', {'currentClass': 'active', 'ancestorClass': 'active', 'leaf_class': 'leaf'}) }}
    </div>
</div>
{% endblock %}
