{% extends 'HVGAccessControlBundle:Base:base.html.twig' %}
{% use 'HVGAccessControlBundle:Base:navbar.html.twig' %}

{% block body %}
    {% block navbar %}{{ parent() }}{% endblock %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% block accesscontrol %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}