HVG\SystemBundle\Entity\Agent:
    type: entity
    table: Agent
    repositoryClass: HVG\SystemBundle\Entity\AgentRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    oneToOne:
        person:
            targetEntity: HVG\SystemBundle\Entity\Person
    manyToOne:
        area:
            targetEntity: HVG\SystemBundle\Entity\Area
            inversedBy: agents
    oneToMany:
        request_actions:
            targetEntity: HVG\SystemBundle\Entity\RequestAction
            mappedBy: agent
        request_evaluations:
            targetEntity: HVG\SystemBundle\Entity\RequestEvaluation
            mappedBy: agent
        requests:
            targetEntity: HVG\SystemBundle\Entity\Request
            mappedBy: agent
    fields:
        short_name:
            type: string
            length: 300
            nullable: true
        contact_phone:
            type: string
            length: 300
            nullable: true
        contact_email:
            type: string
            length: 300
            nullable: true
        createdAt:
            type: datetime
            gedmo:
                timestampable:
                    on: create
        updatedAt:
            type: datetime
            gedmo:
                timestampable:
                    on: update
        deletedAt:
            type: datetime
            nullable: true
    gedmo:
        soft_deleteable:
            field_name: deletedAt
            time_aware: false
    lifecycleCallbacks: {  }