HVG\SystemBundle\Entity\Checkpoint:
    type: entity
    table: Checkpoint
    repositoryClass: HVG\SystemBundle\Entity\CheckpointRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    oneToMany:
        guests:
            targetEntity: HVG\SystemBundle\Entity\Guest
            mappedBy: checkpoint
    manyToOne:
        community:
            targetEntity: HVG\SystemBundle\Entity\Community
            inversedBy: checkpoints
    fields:
        name:
            type: string
            length: 100
    lifecycleCallbacks: {  }