HVG\SystemBundle\Entity\CommunityStaff:
    type: entity
    table: CommunityStaff
    repositoryClass: HVG\SystemBundle\Entity\CommunityStaffRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    manyToOne:
        person:
            targetEntity: HVG\SystemBundle\Entity\Person
        community:
            targetEntity: HVG\SystemBundle\Entity\Community
            inversedBy: communitystaffs
        role:
            targetEntity: HVG\SystemBundle\Entity\Role
            inversedBy: communitystaffs
    fields:
        createdAt:
            type: datetime
            gedmo:
                timestampable:
                    on: create
        updatedAt:
            type: datetime
            gedmo:
                timestampable:
                    on: update
        deletedAt:
            type: datetime
            nullable: true
    gedmo:
        soft_deleteable:
            field_name: deletedAt
            time_aware: false
    lifecycleCallbacks: {  }