HVG\SystemBundle\Entity\Community:
    type: entity
    table: Community
    repositoryClass: HVG\SystemBundle\Entity\CommunityRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    oneToOne:
        person:
            targetEntity: HVG\SystemBundle\Entity\Person
    oneToMany:
        petitions:
            targetEntity: HVG\SystemBundle\Entity\Petition
            mappedBy: community
        units:
            targetEntity: HVG\SystemBundle\Entity\Unit
            mappedBy: community
        unitgroups:
            targetEntity: HVG\SystemBundle\Entity\UnitGroup
            mappedBy: community
        communitystaffs:
            targetEntity: HVG\SystemBundle\Entity\CommunityStaff
            mappedBy: community
        communityevents:
            targetEntity: HVG\SystemBundle\Entity\CommunityEvent
            mappedBy: community
        projects:
            targetEntity: HVG\SystemBundle\Entity\Project
            mappedBy: community
        expenditures:
            targetEntity: HVG\SystemBundle\Entity\Expenditure
            mappedBy: community
        outflows:
            targetEntity: HVG\SystemBundle\Entity\Outflow
            mappedBy: community
        funds:
            targetEntity: HVG\SystemBundle\Entity\Fund
            mappedBy: community
        carparks:
            targetEntity: HVG\SystemBundle\Entity\Carpark
            mappedBy: community
        guestcarparks:
            targetEntity: HVG\SystemBundle\Entity\GuestCarpark
            mappedBy: community
        checkpoints:
            targetEntity: HVG\SystemBundle\Entity\Checkpoint
            mappedBy: community
        accessguards:
            targetEntity: HVG\SystemBundle\Entity\AccessGuard
            mappedBy: community
    manyToMany:
        users:
            targetEntity: HVG\UserBundle\Entity\User
            mappedBy: communities
    fields:
        name:
            type: string
            length: 300
            nullable: true
        hash:
            type: string
            length: 100
            nullable: true
        insurancePolicyExpiration:
            type: datetime
            nullable: true
        logo:
            type: string
            length: 100
            nullable: true
        createdAt:
            type: datetime
            gedmo:
                timestampable:
                    on: create
        updatedAt:
            type: datetime
            gedmo:
                timestampable:
                    on: update
        deletedAt:
            type: datetime
            nullable: true
    gedmo:
        soft_deleteable:
            field_name: deletedAt
            time_aware: false
    lifecycleCallbacks: {  }