HVG\SystemBundle\Entity\Guest:
    type: entity
    table: Guest
    repositoryClass: HVG\SystemBundle\Entity\GuestRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    manyToMany:
        people:
            targetEntity: HVG\SystemBundle\Entity\Person
            inversedBy: guests
            cascade: ['persist', 'merge']
    manyToOne:
        unit:
            targetEntity: HVG\SystemBundle\Entity\Unit
            inversedBy: guests
        guestcarpark:
            targetEntity: HVG\SystemBundle\Entity\GuestCarpark
            inversedBy: guests
        accessgate:
            targetEntity: HVG\SystemBundle\Entity\AccessGate
            inversedBy: guests
        accessguard:
            targetEntity: HVG\SystemBundle\Entity\AccessGuard
            inversedBy: guests
    fields:
        carLicence:
            type: string
            length: 6
            nullable: true
        note:
            type: text
            nullable: true
        createdAt:
            type: datetime
            gedmo:
                timestampable:
                    on: create
        updatedAt:
            type: datetime
            gedmo:
                timestampable:
                    on: update
        deletedAt:
            type: datetime
            nullable: true
    gedmo:
        soft_deleteable:
            field_name: deletedAt
            time_aware: false
    lifecycleCallbacks: {  }