HVG\SystemBundle\Entity\Item:
    type: entity
    table: Item
    repositoryClass: HVG\SystemBundle\Entity\ItemRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    manyToOne:
        fund:
            targetEntity: HVG\SystemBundle\Entity\Fund
            inversedBy: items
        expenditure:
            targetEntity: HVG\SystemBundle\Entity\Expenditure
            inversedBy: items
    fields:
        name:
            type: string
            length: 300
            nullable: true
        createdAt:
            type: datetime
            gedmo:
                timestampable:
                    on: create
        updatedAt:
            type: datetime
            gedmo:
                timestampable:
                    on: update
        deletedAt:
            type: datetime
            nullable: true
    gedmo:
        soft_deleteable:
            field_name: deletedAt
            time_aware: false
    lifecycleCallbacks: {  }