HVG\SystemBundle\Entity\Petition:
    type: entity
    table: Petition
    repositoryClass: HVG\SystemBundle\Entity\PetitionRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    manyToOne:
        petitionstatus:
            targetEntity: HVG\SystemBundle\Entity\PetitionStatus
            inversedBy: petitions
        community:
            targetEntity: HVG\SystemBundle\Entity\Community
            inversedBy: petitions
        area:
            targetEntity: HVG\SystemBundle\Entity\Area
            inversedBy: petitions
        user:
            targetEntity: HVG\UserBundle\Entity\User
            inversedBy: petitions
        liability:
            targetEntity: HVG\UserBundle\Entity\User
            inversedBy: petitionsassigned
    oneToMany:
        petitionactions:
            targetEntity: HVG\SystemBundle\Entity\PetitionAction
            mappedBy: petition
            cascade: ["persist", "merge"]
        petitionobjectives:
            targetEntity: HVG\SystemBundle\Entity\PetitionObjective
            mappedBy: petition
            cascade: ["persist", "merge"]
        petitionevaluations:
            targetEntity: HVG\SystemBundle\Entity\PetitionEvaluation
            mappedBy: petition
    fields:
        description:
            type: text
            nullable: true
        expiry:
            type: date
            nullable: true
        createdAt:
            type: datetime
            gedmo:
                timestampable:
                    on: create
        updatedAt:
            type: datetime
            gedmo:
                timestampable:
                    on: update
        deletedAt:
            type: datetime
            nullable: true
    gedmo:
        soft_deleteable:
            field_name: deletedAt
            time_aware: false
    lifecycleCallbacks: {  }
