HVG\SystemBundle\Entity\PetitionObjective:
    type: entity
    table: PetitionObjective
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    manyToOne:
        petition:
            targetEntity: HVG\SystemBundle\Entity\Petition
            inversedBy: petitionobjectives
    fields:
        description:
            type: string
            length: 300
            nullable: true
        completed:
            type: boolean
            nullable: true
        createdAt:
            type: datetime
            gedmo:
                timestampable:
                    on: create
        updatedAt:
            type: datetime
            gedmo:
                timestampable:
                    on: update
        deletedAt:
            type: datetime
            nullable: true
    gedmo:
        soft_deleteable:
            field_name: deletedAt
            time_aware: false
    lifecycleCallbacks: {  }
