HVG\SystemBundle\Entity\Ticket:
    type: entity
    table: Ticket
    repositoryClass: HVG\SystemBundle\Entity\TicketRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    manyToOne:
        unit:
            targetEntity: HVG\SystemBundle\Entity\Unit
            inversedBy: tickets
        ticketstatus:
            targetEntity: HVG\SystemBundle\Entity\TicketStatus
            inversedBy: tickets
        area:
            targetEntity: HVG\SystemBundle\Entity\Area
            inversedBy: tickets
        zone:
            targetEntity: HVG\SystemBundle\Entity\Zone
            inversedBy: tickets
        user:
            targetEntity: HVG\UserBundle\Entity\User
            inversedBy: tickets
        liability:
            targetEntity: HVG\UserBundle\Entity\User
            inversedBy: ticketsassigned
    oneToMany:
        ticketactions:
            targetEntity: HVG\SystemBundle\Entity\TicketAction
            mappedBy: ticket
    manyToMany:
        ticketpetitions:
            targetEntity: HVG\SystemBundle\Entity\Petition
            joinTable:
                name: ticketpetitions
                joinColumns:
                    petition_id:
                        referencedColumnName: id
                inverseJoinColumns:
                    ticket_id:
                        referencedColumnName: id
    fields:
        status:
            type: integer
            nullable: true
        description:
            type: text
            nullable: true
        contactname:
            type: string
            length: 300
            nullable: true
        contactphone:
            type: string
            length: 20
            nullable: true
        contactemail:
            type: string
            length: 50
            nullable: true
        committal:
            type: date
            nullable: true
        createdAt:
            type: datetime
            gedmo:
                timestampable:
                    on: create
        updatedAt:
            type: datetime
            gedmo:
                timestampable:
                    on: update
        deletedAt:
            type: datetime
            nullable: true
    gedmo:
        soft_deleteable:
            field_name: deletedAt
            time_aware: false
    lifecycleCallbacks: {  }
