HVG\SystemBundle\Entity\TicketAction:
    type: entity
    table: TicketAction
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    manyToOne:
        ticket:
            targetEntity: HVG\SystemBundle\Entity\Ticket
            inversedBy: ticket_actions
        user:
            targetEntity: HVG\UserBundle\Entity\User
            inversedBy: ticket_actions
    fields:
        description:
            type: string
            length: 300
            nullable: true
        file:
            type: string
            length: 300
            nullable: true
        createdAt:
            type: datetime
            gedmo:
                timestampable:
                    on: create
        updatedAt:
            type: datetime
            gedmo:
                timestampable:
                    on: update
        deletedAt:
            type: datetime
            nullable: true
    gedmo:
        soft_deleteable:
            field_name: deletedAt
            time_aware: false
    lifecycleCallbacks: {  }