HVG\SystemBundle\Entity\Unit:
    type: entity
    table: Unit
    repositoryClass: HVG\SystemBundle\Entity\UnitRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    manyToOne:
        unitgroup:
            targetEntity: HVG\SystemBundle\Entity\UnitGroup
            inversedBy: units
        community:
            targetEntity: HVG\SystemBundle\Entity\Community
            inversedBy: units
        owner:
            targetEntity: HVG\SystemBundle\Entity\Person
    oneToMany:
        tickets:
            targetEntity: HVG\SystemBundle\Entity\Ticket
            mappedBy: unit
        allowances:
            targetEntity: HVG\SystemBundle\Entity\Allowance
            mappedBy: unit
        charges:
            targetEntity: HVG\SystemBundle\Entity\Charge
            mappedBy: unit
        insurancepolicies:
            targetEntity: HVG\SystemBundle\Entity\UnitInsurancePolicy
            mappedBy: unit
        residents:
            targetEntity: HVG\SystemBundle\Entity\UnitResident
            mappedBy: unit
        guests:
            targetEntity: HVG\SystemBundle\Entity\Guest
            mappedBy: unit
        warehouses:
            targetEntity: HVG\SystemBundle\Entity\Warehouse
            mappedBy: unit
        carparks:
            targetEntity: HVG\SystemBundle\Entity\Carpark
            mappedBy: unit
    fields:
        name:
            type: string
            length: 100
            nullable: true
        createdAt:
            type: datetime
            gedmo:
                timestampable:
                    on: create
        updatedAt:
            type: datetime
            gedmo:
                timestampable:
                    on: update
        deletedAt:
            type: datetime
            nullable: true
    gedmo:
        soft_deleteable:
            field_name: deletedAt
            time_aware: false
    lifecycleCallbacks: {  }