HVG\SystemBundle\Entity\UnitResident:
    type: entity
    table: UnitResident
    repositoryClass: HVG\SystemBundle\Entity\UnitResidentRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    manyToOne:
        unit:
            targetEntity: HVG\SystemBundle\Entity\Unit
            inversedBy: residents
    fields:
        name:
            type: string
            length: 200
        email:
            type: string
            length: 200
            nullable: true
        phone:
            type: string
            length: 20
            nullable: true
        age:
            type: integer
            nullable: true
        createdAt:
            type: datetime
            gedmo:
                timestampable:
                    on: create
        updatedAt:
            type: datetime
            gedmo:
                timestampable:
                    on: update
        deletedAt:
            type: datetime
            nullable: true
    gedmo:
        soft_deleteable:
            field_name: deletedAt
            time_aware: false
    lifecycleCallbacks: {  }