{% block aside %}
<div class="row">
    <nav class="sidebar-nav navbar-collapse collapse" id="sidebar">
        {{ knp_menu_render('HVGExchangeBundle:TicketOperationBuilder:sideMenu', {'currentClass': 'active', 'ancestorClass': 'active', 'leaf_class': 'leaf'}) }}
        <p></p>
    </nav>
</div>
{% endblock %}
