{% block sidebar %}
<div class="row">
    <nav class="sidebar-nav navbar-collapse collapse" id="sidebar">
        {{ knp_menu_render('HVGAgentBundle:Builder:sideMenu') }}
    </nav>
</div>
{% endblock %}

