agent_unitresident_index:
    path:     /{community}/{unitgroup}/{unit}
    defaults: { _controller: "HVGAgentBundle:UnitResident:index", community: '', unitgroup: '', unit: '' }
    methods:  GET
    requirements:
        community: '\d+|'
        unitgroup: '\d+|'
        unit: '\d+|'

agent_unitresident_new:
    path:     /{unit}/new
    defaults: { _controller: "HVGAgentBundle:UnitResident:new" }
    methods:  [GET, POST]

agent_unitresident_show:
    path:     /{unitresident}/show
    defaults: { _controller: "HVGAgentBundle:UnitResident:show" }
    methods:  GET

agent_unitresident_edit:
    path:     /{unitresident}/edit
    defaults: { _controller: "HVGAgentBundle:UnitResident:edit" }
    methods:  [GET, POST]

agent_unitresident_delete:
    path:     /{unitresident}/delete
    defaults: { _controller: "HVGAgentBundle:UnitResident:delete" }
    methods:  [GET, DELETE]
