agent_warehouse_index:
    path:     /{community}/{unitgroup}/{unit}
    defaults: { _controller: "HVGAgentBundle:Warehouse:index", community: '', unitgroup: '', unit: '' }
    methods:  GET
    requirements:
        community: '\d+|'
        unitgroup: '\d+|'
        unit: '\d+|'

agent_warehouse_new:
    path:     /{unit}/new
    defaults: { _controller: "HVGAgentBundle:Warehouse:new" }
    methods:  [GET, POST]

agent_warehouse_show:
    path:     /{warehouse}/show
    defaults: { _controller: "HVGAgentBundle:Warehouse:show" }
    methods:  GET

agent_warehouse_edit:
    path:     /{warehouse}/edit
    defaults: { _controller: "HVGAgentBundle:Warehouse:edit" }
    methods:  [GET, POST]

agent_warehouse_delete:
    path:     /{warehouse}/delete
    defaults: { _controller: "HVGAgentBundle:Warehouse:delete" }
    methods:  [GET, DELETE]
